
@import url(https://fonts.googleapis.com/css?family=Roboto);


*{
	box-sizing: border-box;
}


body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


.wrapper{
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	width: 428px;
	height: 521px;
	background: #f7f7f7;
}


.my-form{
	height: 349px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.my-form,
.signup-h1{
	width: 340px;	
	margin: 0 auto;
	background: #ffffff;
	border-radius: 7px; 	
}


.my-form-center{
	width: 285px;
	margin: 0 auto;
}


.signup-h1{
	background: #f7f7f7;
}


.h1{
	margin: 0 0 16px 0;
	padding-top: 50px;
	font-size: 22px;
	color: #949494;
}


.span{
	
	color: #707070;
}


.first-last-name{
	padding-top: 30px;
}


.first-last-name:after{
	content: "";
	display: block;
	clear: both;
}


.input-box{
	margin-top: 13px;
}


.input{
	font-size: 14px;
	padding-left: 9px;
	color: #b7b7b7;	
	height: 34px;
	width: 285px;
	background: #f0f0f0;
	border: 0;
	border-radius: 3px; 
}


.first-name,
.last-name{
	width: 128px;
	height: 34px;
}


.first-name{
    float: left;
}


.last-name{
	float: right;
}


.username,
.password{
	background-image: url(../images/pic.png);
	background-repeat: no-repeat;
	background-position: 97%;
	padding-right: 40px;
}


.password{
	background-image: url(../images/lock.png);	
}


.text-p{
	font-size: 11px;
	color: #b7b7b7;
}


.link{
	text-decoration: none;
	color: #9b9b9b;
}


.button-box{
	margin-top: 18px; 
	text-align: center;		
}


.box{
	text-align: center;
}


.checkbox{
	width: 10px;
	height: 10px;	
	position: relative;
}


.checkbox:before{
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
}


.checkbox:checked:after{
	content: url(../images/checked.png);
	position: absolute;	
	bottom: -2.9px;
}


.button{
	cursor: pointer;
	background: #fea15d;
	border: 0;
	border-radius: 3px;
	width: 96px;
	height: 34px;
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 20px; 
	transition: 0.5s;
}


.button:hover{
	opacity: 0.7;
}


.text-p{
	margin: 0;
}


.overflow{
	margin: 3px auto 0;
	width: 124px;
	height: 24px;
	text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
}
